@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --pri:rgb(68, 0, 0);
    --sec:rgb(231, 123, 123);
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
    background-color: rgba(20 20 20);
    scroll-behavior: smooth;
}
#toggle-check{
    display:none;
}
main{
    color: red;
}
/* Navigation Bar Style */
nav{
    background-color: var(--pri);
    color: var(--sec);
    height:3.5rem;
    display: flex;
    cursor:pointer;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style:none;
    gap:1rem;
}

/* Main Section Styling */
section{
    background-color: rgb(20, 20, 20);
    width:100vw;
    height:100vh;
    color: white;
}
section p{
    color:white;
}
#home{
    display: flex;
    justify-content: center;
    align-items:center;
}
#home .container{
    height:80%;
    width: 80%;
    display:flex;
    flex-wrap: nowrap;
}
.profile_pic{
    order:2;
    flex-grow: 1;
}
.profile_pic img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    animation:flick 0.8s ease-in-out;
}
.intro_text{
    flex-grow:10;
}
.intro_text p{
    margin: 0;
}
.lg-txt {
    font-size:6rem;
    font-weight:600;
    background: -webkit-linear-gradient(100deg,#da5050,rgb(182, 39, 182));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: arr 1s ease;
}
@keyframes arr{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    30%{
        opacity: 1;
        filter:blur(10px);
        transform: translateX(20px);
    }
    100%{
        filter:blur(0px);
        transform: translateX(0);
    }
}
@keyframes arr1{
    0%{
        opacity: 0;
        transform: translateX(60px);
    }
    30%{
        opacity: 0.6;
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes flick{
    0%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.sm-txt {
    font-size:3rem;
    background: -webkit-linear-gradient(200deg,rgb(199, 43, 43),rgb(124, 4, 76));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow:0px 0px 50px rgb(236, 52, 236);
    font-weight:500;
    animation: arr1 1.4s ease;
} 
.social_icons{
    /* padding-top:60px; */
    font-size:2rem;
    position: absolute;
    bottom: 10px;
}
.social_icons i{
    margin-right: 20px;
    color: bisque;
    transition:all 0.4s ease;
    animation: flick 1s ease;
}
.social_icons i:hover{
    color: rgb(129, 73, 232);
    box-shadow: 0px 2px 30px 4px rgb(211, 10, 211);
}
.cv{
    background-color: rgb(235, 49, 121);
    border:none;
    position: absolute;
    border-radius: 10px;
    width: max-content;
    font-weight: 600;
    height: 30px;
    animation: arr1 0.9s ease-in;
    transition: all 0.6s ease;
}
.cv:hover{
    box-shadow: 0px 0px 50px 6px rgb(175, 13, 245);
}
.cv a{
    text-decoration: none;
    color: #2e2e2e;
}

/* About section styling */
/* Header */

#about{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
#about .container{
    height: 80%;
    width: 70%;
}
.container h1{
    text-align: right;
    padding-right: 2rem;
    animation:slide1 linear;
    animation-timeline: view();
}
/* main */
.container main{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 1rem;
}
main .p_pic img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation:slide linear;
    animation-timeline: view();
}
main .content{
    animation: opa linear;
    animation-timeline: view();
}

/* animations */
@keyframes slide{
    0%{
        opacity: 0.2;
        transform: translateX(-200px);
    }
    40%,50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-300px);
    }
}
@keyframes slide1{
    0%{
        opacity: 0.2;
        filter: blur(10px);
        transform: translateY(200px);
    }
    40%,78%{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes opa{
    0%{
        opacity: 0;
    }
    40%,50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* skill section */
/* header */

/* main container */
#skill{
    height:auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
#skill .container{
    width:70%;
    height:80%;
}
#skill main{
    display: flex;
    flex-direction:column;
}
.skill-head{
    font-size:3.5rem; 
    background: -webkit-linear-gradient(200deg,rgb(199, 43, 43),rgb(124, 4, 76));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow:0px 0px 50px rgb(236, 52, 236);
    animation-timeline: view(70% 20%);
}
.skill-cont{
    display: flex;
    justify-content: space-evenly;
    height:100%;
    width:100%;
}
.skill-full{
    border-width:4px;
    border-style: solid;
    border-color: blue rgba(0, 0, 255, 0.347) blue blue;
}
.skill-inter{
    border-width:4px;
    border-style: solid;
    border-color: blue rgba(0, 0, 255, 0.989) rgb(0, 0, 255) blue;
}
.skills{
    height:150px;
    width:150px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border-radius:50%;
    box-shadow: inset 4px 2px 10px 0px rgba(208, 208, 208, 0.39);
    transition:all 1s ease-in;
    animation:skill linear;
    animation-timeline:view();
}
.skills:hover{
    /* box-shadow: inset 4px 2px 10px 0px rgba(80, 20, 222, 0.765); */
    box-shadow: 0px 5px 30px 0px rgb(64, 40, 196);  
}
.tech{
    display: flex;
    gap:10px;
    justify-content:space-evenly;
}
.t-logos{
    height:50px;
    width:50px;
}
.t-logos img{
    height:100%;
    width:100%;
    animation:scal linear;
    animation-timeline:view();
    transition:all 0.5s ease;
}
.t-logos img:hover{
    transform:translateY(-20px);
}
.certi{
    border:2px solid white;
    padding: 20px;
    box-sizing: border-box;
    display:grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    background-color: #da5050;
    height:300px;
    border-radius:20px;
    position:relative;
    transition:all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card::after{
    content: '';
    background-image: linear-gradient(360deg,blue,transparent);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    transition:all 0.5s ease;
}
.card:hover::after{
    opacity: 1;
}
.card:hover > .c-txt{
    visibility: visible;
}
.c-txt{
    color: wheat;
    visibility: hidden;
}
/* Animations */
@keyframes scal{
    0%{
        filter:blur(10px);
    }
    40%,50%{
        filter:blur(0px);
    }
    100%{
        filter: blur(40px);
        transform:scale(2);
    }
}
@keyframes skill{
    0%{
        filter: blur(40px);
        trasnform:scale(1.4);
        height: 300px;
        width: 300px;
    }
    40%, 60%{
        filter: blur(0px);
        transform:scale(1);
        height: 150px;
        width: 150px;
    }
    100%{
        filter: blur(100px);
        transform: scale(1.2);
        height: 500px;
        width: 500px;
    }
}
/* #home .container{
    max-height:80%;
    max-width:80%;
    display: grid;
    grid-template:"itxt itxt ppic ppic"
    "itxt itxt ppic ppic"
    "itxt itxt ppic ppic"
    "socials socials ppic ppic";
    grid-gap: 20px;
    padding: 20px;
    box-sizing:border-box;
}
.profile_pic{
    grid-area: ppic;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.intro_text{
    grid-area:itxt;
}
.social_icons{
    grid-area:socials;
}
.intro_text{
    background:-webkit-linear-gradient(120deg,rgb(24, 136, 255),rgb(239, 107, 129),rgb(193, 18, 193));
    -webkit-background-clip: text;
    display: grid;
    gap: 0px;
    grid-template-rows: auto auto;
    -webkit-text-fill-color: transparent;
    border-radius:2rem;
}
.social_icons{
    font-size:30px;
    display:flex;
    border-radius:2rem;
    gap:30px;
}
.profile_pic img{
    height: 400px;
    width:300px;
    border-radius:20px;
    opacity: 1;
    animation: arr 2s ease;
}
@keyframes arr {
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
 */

/* toggle button */
.toggle-btn:checked ~ main{
    background:blueviolet;
}
.dark{
    display: none;
}
.toggle-btn:checked ~ header nav label .light{
    display: none;
}
.toggle-btn:checked ~ header nav label .dark{
    display: inline;
}
.light, .dark{
    user-select: none;
}