@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --pri:rgb(68, 0, 0);
    --sec:rgb(231, 123, 123);
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
    background-color: rgba(20 20 20);
    scroll-behavior: smooth;
}
#toggle-check{
    display:none;
}
main{
    color: red;
}

/* Navigation Bar Style */
.nav-menu{
    display: none;
}
.menu-btn{
    visibility: hidden;
}
.wrong{
    visibility: hidden;
}
input[type="checkbox"]{
    visibility: hidden;
}
nav{
    background-color: var(--pri);
    color: var(--sec);
    height:3.5rem;
    display: flex;
    cursor:pointer;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
nav ul {
    display: flex;
    list-style:none;
    gap:1rem;
}
nav ul a{
    text-decoration:none;
    color:rgb(234, 84, 84);
} 
/* Main Section Styling */
section{
    background-color: rgb(20, 20, 20);
    width:100vw;
    height:100vh;
    color: white;
}
section p{
    color:white;
}
#home{
    display: flex;
    justify-content: center;
    align-items:center;
}
#home .container{
    height:80%;
    width: 80%;
    display:flex;
    flex-wrap: nowrap;
}
.profile_pic{
    order:2;
    flex-grow: 1;
}
.profile_pic img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    animation:flick 0.8s ease-in-out;
}
.intro_text{
    flex-grow:10;
}
.intro_text p{
    margin: 0;
}
.lg-txt {
    font-size:6rem;
    font-weight:600;
    background: -webkit-linear-gradient(180deg,rgb(13, 143, 1),rgb(7, 233, 225));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: arr 1s ease;
}
@keyframes arr{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    30%{
        opacity: 1;
        filter:blur(10px);
        transform: translateX(20px);
    }
    100%{
        filter:blur(0px);
        transform: translateX(0);
    }
}
@keyframes arr1{
    0%{
        opacity: 0;
        transform: translateX(60px);
    }
    30%{
        opacity: 0.6;
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes flick{
    0%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
.sm-txt {
    font-size:3rem;
    background: -webkit-linear-gradient(200deg,rgb(21, 194, 6),rgb(1, 194, 178));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow:0px 0px 50px rgb(14, 216, 88);
    font-weight:500;
    animation: arr1 1.4s ease;
} 
.social_icons{
    /* padding-top:60px; */
    font-size:2rem;
    position: absolute;
    bottom: 10px;
}
.social_icons i{
    margin-right: 20px;
    color: bisque;
    transition:all 0.4s ease;
    animation: flick 1s ease;
}
.social_icons i:hover{
    color: rgb(129, 73, 232);
    box-shadow: 0px 2px 30px 4px rgb(211, 10, 211);
}
.cv{
    background-color: rgb(17, 152, 220);
    border:none;
    position: absolute;
    border-radius: 10px;
    width: max-content;
    font-weight: 600;
    height: 30px;
    animation: arr1 0.9s ease-in;
    transition: all 0.6s ease;
}
.cv:hover{
    box-shadow: 0px 0px 50px 6px rgb(0, 250, 233);
}
.cv a{
    text-decoration: none;
    color: #2e2e2e;
}

/* About section styling */
/* Header */

#about{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
#about .container{
    height: 80%;
    width: 70%;
}
.container h1{
    text-align: right;
    padding-right: 2rem;
    animation:slide1 linear;
    animation-timeline: view();
}
/* main */
.container main{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 1rem;
}
main .p_pic img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation:slide linear;
    animation-timeline: view();
}
main .content{
    animation: opa linear;
    animation-timeline: view();
    flex-shrink:2;
}

/* animations */
@keyframes slide{
    0%{
        opacity: 0.2;
        transform: translateX(-200px);
    }
    40%,50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-300px);
    }
}
@keyframes slide1{
    0%{
        opacity: 0.2;
        filter: blur(10px);
        transform: translateY(200px);
    }
    40%,78%{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes opa{
    0%{
        opacity: 0;
    }
    40%,50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* skill section */
/* header */

/* main container */
#skill{
    height:auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
#skill .container{
    width:70%;
    height:80%;
}
#skill main{
    display: flex;
    flex-direction:column;
}
.skill-cont{
    display: flex;
    justify-content: space-evenly;
    height:100%;
    width:100%;
}
.skill-full{
    border-width:4px;
    border-style: solid;
    border-color: blue rgba(0, 0, 255, 0.347) blue blue;
}
.skill-inter{
    border-width:4px;
    border-style: solid;
    border-color: blue rgba(0, 0, 255, 0.989) rgb(0, 0, 255) blue;
}
.skills{
    height:150px;
    width:150px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border-radius:50%;
    box-shadow: inset 4px 2px 10px 0px rgba(208, 208, 208, 0.39);
    transition:all 1s ease-in;
    animation:skill linear;
    animation-timeline:view();
}
.skills:hover{
    /* box-shadow: inset 4px 2px 10px 0px rgba(80, 20, 222, 0.765); */
    box-shadow: 0px 5px 30px 0px rgb(64, 40, 196);  
}

/* technologies logo */
.tech{
    display: flex;
    gap:10px;
    justify-content:space-evenly;
}
.t-logos{
    height:50px;
    width:50px;
}
.t-logos img{
    height:100%;
    width:100%;
    animation:scal linear;
    animation-timeline:view();
    transition:all 0.5s ease;
}
.t-logos img:hover{
    transform:translateY(-20px);
}

/* certification section */
.certi{
    padding: 20px;
    box-sizing: border-box;
    display:grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    background-color: #612eb2;
    height:250px;
    border-radius:20px;
    position:relative;
    transition:all 0.5s ease;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    /* justify-content: center; */
}
.card::after{
    content: '';
    background-image: linear-gradient(360deg,rgba(0, 0, 255, 0.505),transparent 80%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    transition:all 0.5s ease;
}
.card:hover::after{
    opacity: 1;
}
.card:hover > .c-txt{
    visibility: visible;
}
.c-txt{
    color: wheat;
    visibility: hidden;
    padding-left:10px;
    margin:0;
    padding-bottom:0;
}
.img-cont{
    height:80%;
    width: 100%;
    border-radius: 20px;
    background-color: blanchedalmond;
}
.img-cont img{
    height:100%;
    width:100%;
    border-radius:20px;
    object-fit: cover;
}
a{
    text-decoration:none;
}
/* Project section */
.card-p{
    border-radius:20px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
.proj{
    width: 100%;
    display:flex;
    height: auto;
    margin: 5px 0px;
    flex-wrap: nowrap;
    animation:blur linear both;
    animation-timeline:view();
}
.title{
    padding:10px;
    border-right:2px solid white;
    width:30%;
}
.desc{
    flex-grow:6;
    padding:10px;
    width:70%;
    border-radius:20px;
}
/* Animations */
@keyframes blur{
    0%{
        filter:blur(10px);
    }
    40%,65%{
        filter:blur(0px);
        box-shadow:inset 0px 0px 10px 0px rgb(29, 16, 212);
        color: rgb(125, 118, 228);
    }
    100%{
        filter:blur(10px);
    }
}
@keyframes scal{
    0%{
        filter:blur(10px);
    }
    40%,50%{
        filter:blur(0px);
    }
    100%{
        filter: blur(40px);
        transform:scale(2);
    }
}
@keyframes skill{
    0%{
        filter: blur(40px);
        trasnform:scale(1.4);
        height: 300px;
        width: 300px;
    }
    40%, 60%{
        filter: blur(0px);
        transform:scale(1);
        height: 150px;
        width: 150px;
    }
    100%{
        filter: blur(100px);
        transform: scale(1.2);
        height: 500px;
        width: 500px;
    }
}

/* Contact Section Styling */

#contact{
    display: flex;
    width:100vw;
    height:auto;
    align-items:center;
    justify-content:center;
}
#contact .container{
    width:80%;
}
.container main{
    display: flex;
    justify-content: center;
}
.small-co{
    display:flex;
    flex-direction:column;
    min-width: 50%;
    padding-bottom:3rem;
    color:rgb(224, 224, 224);
}
.small-co input,textarea{
    margin-bottom:10px;
    border:none;
    height:2rem;
    background-color:transparent;
    color: rgb(223, 223, 240);
    border-bottom: 2px solid purple;
    transition:all 0.6s ease;
}
input:hover{
    transform:scale(1.05);
}
input[type="submit"]{
    height:2rem;
    border-radius:10px;
    width: 6rem;
    align-self: center;
    color: #f4ecff;
    font-weight:600;
    background-color: rgb(198, 28, 172);
}

#services{
    display: flex;
    width:100vw;
    height:auto;
    justify-content:center;
    align-items: center;
}
.services{
    display: flex;
    flex-direction:column;
}
.ser-head{
    font-size:4rem;
    animation:s-blur linear both;
    animation-timeline:view();
}
.ser-head{
    background: -webkit-linear-gradient(200deg,rgb(54, 165, 221),rgb(2, 9, 221));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 10px 150px rgb(39, 32, 232);
}
@keyframes s-blur{
    0%{
        filter:blur(100px);
    }
    30%,50%{
        filter:blur(0px);
    }
    100%{
        filter:blur(100px);
    }
}

/* footer styling */
.foot{
    width:100vw;
    display:flex;
    align-content:center;
    justify-content:center;
}
.foot .container{
    width:80%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    gap:10px;
}
.f-social{
    font-size:2rem;
    display:flex;
    gap:40px;
    margin:10px;
}
.icon{
    transition:all 0.3s ease;
}
.icon:hover{
    color:rgb(0, 242, 255);
    transform:scale(1.05);
    text-shadow: 0px 0px 50px rgb(0, 255, 110);
}

.dark{
    display: none;
}
.toggle-btn:checked ~ header nav label .light{
    display: none;
}
.toggle-btn:checked ~ header nav label .dark{
    display: inline;
}
.light, .dark{
    user-select: none;
}
.toggle-btn:checked ~ body{
    background-color: #f4ecff;
}


/* responsive for mobile device (s8+) */
@media(max-width:500px){
    /* home section */
    *{
        overflow-x: hidden;
    }

    nav{
        justify-content: space-around;
        padding:0px 10px;
        height: auto;
        width: 100%;
    }
    nav .nav-links {
        display: none;
    }
    .nav-menu{
        display: block;
        height:100vh;
        width:200px;
        background-color: #151515;
        position: fixed;
        left:0px;
        top:0px;
        overflow: hidden;
        color:white;
        z-index:2;
    }
    input[type="checkbox"]{
        display: none;
    }
    .wrong{
        position: fixed;
        font-size:2rem;
        visibility: visible;
        top:10px;
        right:15px;
        color: white;
        overflow: hidden;
    }
    .menu-btn{
        font-size:2rem;
        visibility: hidden;
        overflow: hidden;
    }
    #nav:checked ~ .nav-menu{
        left:-1000px;
    }
    #nav:checked ~ label .wrong{
        visibility: hidden;
    }
    #nav:checked ~ label .menu-btn{
        visibility: visible;
    }
    .nav-l-m{
        z-index: 8;
    }
    .nav-l-m{
        width: 100%;
        height: 100%;
        display: flex;
        font-size:1.8rem;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .logo{
        font-size: 12px;
        width: 8rem;
        display: flex;
    }   
    #home .container{
        flex-direction:column;
        width: 90%;
    }
    .container .intro_text{
        order:2;
    }
    .profile_pic{
        order:1;
        flex-shrink: 18;
        height:200px;
        width:100%;
        display: flex;
    }
    .lg-txt{
        font-size:4.5rem;
    }
    .sm-txt{
        font-size: 2rem;
    }
    .social_icons{
        font-size:2.4rem;
        bottom:20px;
    }
    .social_icons i{
        display: inline-block;
        overflow: hidden;
    }
    .social_icons i:active{
        color: rgb(129, 73, 232);
        text-shadow: 0px 0px 5px 0px rgb(211, 10, 211);
    }
    #about main{
        flex-direction:column;
    }
    .p_pic{
        height:200px;
        flex-shrink: 26;
        overflow: hidden;
    }
    .p_pic img{
        object-fit: cover;
    }

    /* about section */
    #about .container {
        width: auto;
    }
    #about .container header{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
    }

    /* Skill section*/
    #skill .container{
        width:90%;
    }
    #skill header{
        display: flex;
        justify-content:flex-end;
        align-items:center;
        width:120%;
    }
    .skill-cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .skills{
        border-radius:40px;
        margin-top:30px;
        overflow: hidden;
        animation: none;
        width: 60%;
        animation: ani 1s ease infinite alternate;
    }
    .skills i{
        overflow: hidden;
    }
    .tech{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
    }
    .t-logos{
        overflow: hidden;
        border-radius:4px;
        height:90%;
        width:90%;
    }
    .t-logos img{
        object-fit:contain;
    }

    .certi{
        display: flex;
        flex-direction:column;
    }
    .card::after{
        opacity: 1;
    }
    .c-txt{
        visibility: visible;
    }
    .proj{
        box-shadow:inset 0px 0px 10px 0px rgb(29, 16, 212);
        color: rgb(125, 118, 228);
        animation:none; 
    }
    .desc{
        color:white;
    }

    /* contact section */
    #contact .container{
        width:100vw;
    }
    #contact main{
        width:90%;
    }
    .small-co{
        min-width: 80%;
    }
    /* service section */
    .ser-head{
        font-size:2.5rem;
        animation:none;
    }
    .service{
        margin:0;
        padding:0px;
    }
    @keyframes ani{
        0%{
            box-shadow: 0px 0px 10px 2px rgb(34, 34, 239);
        }
        40%,60%{
            box-shadow: 0px 0px 0px 0px rgb(34, 34, 239);
        }
        100%{
            box-shadow: 0px 0px 30px 0px rgb(34, 34, 239);
        }
    }   
}

/* Responsiveness fot tablet screen */
@media(min-width:520px) and (max-width:900px){
    #home .container{
        flex-direction: column;
    }
    .profile_pic{
        order:1;
        height:60%;
    }
    .intro_text{
        order:2;
    }
    .cv{
        height:50px;
        width:150px;
        font-size:1.2rem;
    }
    #about .container{
        width:90%;
    }
    .container h1{
        text-align: right;
        padding-right: 2.5rem;
        animation:slide1 linear;
        animation-timeline: view();
    }
    .card::after{
        opacity: 1;
    }
    .c-txt{
        visibility: visible;
    }
    #contact .container{
        width:100%;
    }
    input[type="submit"]{
        margin-top:10px;
        width:100px;
        height:50px;
        background-color: rgb(20, 178, 8);
    }
    .small-co input,textarea{
        border-bottom: 2px solid rgb(20, 178, 8);
    }
    #skill .container{
        width:95%;
    }
    .foot .container{
        height:300px;
    }
}
